<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="">
    <Appenders>
        <Console name="cons" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></PatternLayout>
        </Console>
        <File name="to_file" fileName="logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{HH:mm:ss.SSS} [%t] %C (%F:%L) - %m%n"></PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name ="course3.lesson6.AppLog4j" level="info" additivity="false">
            <AppenderRef ref="cons"/>
            <AppenderRef ref="to_file"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="cons"/>
        </Root>
    </Loggers>

</Configuration>